
.admin_edit_page_box{
  > .commands {
    /*
    padding: 20px 10px 4px 4px;
    margin: 0px;
    */

    position: fixed !important;
    top: 0;
    right: 0;
    /*
    bottom: 0;
    left: 0;
    */
    z-index: 50;
    display: block !important;

    > a.link{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      padding: 2px 8px;
      font-size: 12px;
      color: #fff;
      background-color: #0366d6;
      border-top-right-radius: 3px;
    }
  }


}



.admin_edit_box {
  position: relative;

  background-color: transparent;
  border: 0;

  > .commands {
    display: none;
  }

  &:hover{
    /*border: 1px dotted #0366d6;*/
    outline: 1px dotted #0366d6;

    > .commands {
      display: block !important;
      position: absolute;
      left: 0px;

      padding: 0;
      margin:0;

      background-color: #0366d6;

      > a.link {
        top: 0;
        left: 0;

        z-index: 100;
        padding: 2px 8px 4px 8px;
        font-size: 12px;
        color: #fff;
        background-color: #0366d6;

        &:hover{
          text-decoration: none;
        }
      }
  }

  }


}

