.idea/
.bundle/
log/*.log
pkg/


node_modules
#yarn.lock

public/assets


test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache


spec/dummy/config/secrets.yml
spec/dummy/config/appdata/appdata.yml

spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/node_modules
spec/dummy/public/packs
spec/dummy/public/assets
spec/dummy/public/uploads