!!!
%html
  %head
    %title OptimaCMS

    = csrf_meta_tag
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    = stylesheet_pack_tag "optimacms/application_style"
    = javascript_pack_tag "optimacms/application"


  %body
    = yield
