<!DOCTYPE html>
<html>
<head>
  <title>Optimacms</title>
  <%= stylesheet_link_tag    "optimacms/application", media: "all" %>
  <%= javascript_include_tag "optimacms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
