- unless flash.empty?
  - flash.each do |name, msg|
    - flash_type_translation = { 'notice' => 'warning', 'alert' => 'danger', 'success' => 'success'}
    - alert_class_name = flash_type_translation[name] || 'info'

    %div{:class=>['alert',"alert-#{alert_class_name}"]}
      %button.close( data-dismiss="alert" type="button")
        %i.fa.fa-times
      .message
        = msg
      -#= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String)


-#
  .alert.alert-block.alert-success
    %button.close( data-dismiss="alert" type="button")
      %i.fa.fa-times

    Welcome to
    %strong.green
      OptimaCMS
      %small (v0.1.1)
    , the lightweight, feature-rich and easy to use admin
