- if object.errors.any?
  .alert.alert-danger#error_explanation
    -#%h3= "#{pluralize(object.errors.count, "ошибки")} при заполнении формы:"
    %h3 Ошибки при заполнении формы:
    %ul
      - object.errors.messages.each do |amsg|
        - amsg[1].each do |msg|
          %li
            #{t 'activerecord.attributes.user.'+amsg[0].to_s}: #{msg}

      -#- object.errors.full_messages.each do |msg|
        %li= msg