%nav#topbar.navbar.navbar-toggleable-md.navbar-light.bg-faded

  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarTopmenu", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarTopmenu", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon

  =link_to '/'+Optimacms.admin_namespace, class: "navbar-brand" do
    =fa_icon 'cube'
    Admin

  #navbarTopmenu.collapse.navbar-collapse
    -#%form.form-inline.ml-auto.my-lg-0
      .input-group
        %span#basic-addon1.input-group-addon @
        %input.form-control{"aria-describedby" => "basic-addon1", :placeholder => "Username", :type => "text"}/
    .ml-auto
      = render 'optimacms/admin/shared/menu_user'


-##topbar.navbar.navbar-default
    -#%button.navbar-toggle.pull-left( data-target="#sidebar" type="button")
      %span.sr-only Toggle sidebar
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    -#.navbar-header.pull-left
      <a class="navbar-brand" href="#"><small><i class="fa fa-cube"></i> Admin</small></a>
    -#.navbar-buttons.pull-right(role="navigation")
      %ul.nav
        -#%li
          =link_to 'Login', new_user_session_path
        %li
          %a.dropdown-toggle(href="#" data-toggle="dropdown" aria-expanded="true")
            %span.user-info Admin
            %i.fa.fa-caret-down
          %ul.dropdown-menu-right.dropdown-menu
            %li
              %a{:href => '#'}
                = fa_icon "user"
                #{current_cms_admin_user.email}
            %li
              <a href="#"><i class="fa fa-cog"></i> Settings</a>
            %li
              <a href="profile.html"><i class="fa fa-user"></i> Profile</a>
            %li.divider
            %li
              =link_to destroy_cms_admin_user_session_path, :method => :delete do
                = fa_icon "fa-power-off"
                Logout


