.btn-group
  %button.btn.btn-secondary.btn-sm.dropdown-toggle(type="button" id="ddTopmenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
    %span.user-info Admin

  .dropdown-menu.dropdown-menu-right(aria-labelledby="ddTopmenuUser")
    %a.dropdown-item{:href => '#'}
      %i.fa.fa-user
      #{current_cms_admin_user.email}

    %a.dropdown-item{ href: "#"}
      %i.fa.fa-cog
      Settings
    %a.dropdown-item{ href: "/profile"}
      %i.fa.fa-user
      Profile

    .dropdown-divider

    =link_to destroy_cms_admin_user_session_path, :method => :delete, :class=>'dropdown-item' do
      = fa_icon "fa-power-off"
      Logout