.dropdown
  %button.btn.btn-secondary.btn-sm.dropdown-toggle(type="button" id="ddTopmenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
    %span.user-info Admin

  .dropdown-menu.dropdown-menu-right(aria-labelledby="ddTopmenuUser")
    %a.dropdown-item{:href => '#'}
      = fa_icon "user"
      #{current_cms_admin_user.email}

    %a.dropdown-item{ href: "#"}
      = fa_icon "cog"
      Settings
    %a.dropdown-item{ href: "/profile"}
      <i class="fa fa-user"></i> Profile

    .dropdown-divider

    =link_to destroy_cms_admin_user_session_path, :method => :delete, :class=>'dropdown-item' do
      = fa_icon "fa-power-off"
      Logout