поделиться:
%ul.profile-socials.socials-default.list-inline
  %li
    %a.facebook.fb-share-button(href="https://www.facebook.com/buildwinner" target="_blank")
      %i.fa.fa-facebook.square-2-lg
  %li
    %a.vk(href="#" target="_blank")
      %i.fa.fa-vk.square-2-lg

  -#%li
    %a.twitter(href="#" target="_blank")
      %i.fa.fa-twitter.square-2-lg