
.debug_box_page {
  > .debug_commands {
    position: fixed !important;
    bottom: 0px;
    padding: 20px;
    margin: 0;
    display: block !important;
  }
}



.debug_box{
  background-color: transparent;
  border-style: none;

  padding: 2px;
  margin: -2px;


  > .debug_commands{
    display:none;

    position: absolute;

    //background-color: #ffffff;
    //border: 1px #333333 solid;

    /*
    background-color: #a1a1a1;
    */
    /*opacity: 0.9;*/
    //padding: 2px 12px 6px 12px;
    //padding: 20px;
    margin: -35px 0px 0px 5px;
    z-index: 999;
  }


  &:hover{
    border: 2px dotted #bbbbbb;
    margin: -12px;
    padding: 10px;
    //background-color: #fefefe;
    //border: 2px dotted orange;

    > .debug_commands{
      display:block;

    }
  }



}


