.debug_box{
  background-color: transparent;
  border-style: none;

  &:hover{
    background-color: #fefefe;
    border: 2px dotted orange;

    .debug_commands{
      display:block;
    }
  }


  .debug_commands{
    display:none;
  }
}


