@import "colors";
@import "tpl";
@import "skins/noskin";


code, pre{
  border:1px #333333 dotted;
  background-color: #e4edf4;
  color: #134161;
}

/* forms */

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-left: -30px;
}