.admin_edit_box
  .commands
    - if row_tpl
      =link_to "/admin/templates/#{row_tpl.id}/edit", target: "_blank", class: "link" do
        Edit
        %b=row_tpl.title
    - else
      file #{filename}


  =render file: filename

/ data
-#html_links = links_data.map{|r| r[:link_html]}.join("<br>").html_safe

-#((link_to "edit block", "/admin/templates/#{row_tpl.id}/edit", target: "_blank")+"<br>".html_safe+html_links).html_safe
