= stylesheet_link_tag "optimacms/admin_site", media: "all"

.admin_edit_page_box
  .commands
    =link_to "/admin/templates/#{@pagedata.template.id}/edit", target: "_blank", class: "link" do
      %span.cont
        Edit&nbsp;page

  = render template: @pagedata.template.path


/ data links
-#
  -#html_links = links_data.map{|r| r[:link_html]}.join("<br>").html_safe

