= stylesheet_pack_tag "optimacms/site_edit_styles"

- if @pagedata && @pagedata.template
  .admin_edit_page_box
    .commands
      =link_to Optimacms::Engine.routes.url_helpers.edit_template_path(@pagedata.template.id), target: "_blank", class: "link" do
        %span.cont
          Template

    = render template: @pagedata.template_path

- else
  ERROR


