@import 'bootstrap/dist/css/bootstrap';

/* html */
html,
body {
  height: 100%;
}



/* Wrapper for page content to push down footer */

#wrapper {

  min-height: 100%;

  height: auto !important;

  height: 100%;



  /* Negative indent footer by its height */

  margin: 0 auto 20px;

  /* Pad bottom by footer height */

  padding: 0 0 0px;

}









/* main layout */

#topbar{
  //background-color: $col-blue-1;

  a{
    color: #ffffff;
  }

  ul.nav{
    a{
      //color: $gray;
    }
  }
}



// solution 1
.main-container:before {
    background-color: #ffffff;
    bottom: 0;
    content: "";
    display: block;
    max-width: inherit;
    position: absolute;
    top: 0;

    width: 100%;

    z-index: -2;

}





.main-content:before, .main-content:after {

    content: " ";

    display: table;

}

.main-content:after {

    clear: both;

}

.main-content:before, .main-content:after {

    content: " ";

    display: table;

}



.main-content {

    min-height: 100%;

    padding: 0;

}





.main-content-inner {

    float: left;

    width: 100%;

}



.sidebar {

  float: left;

  padding-left: 0;

  padding-right: 0;

  position: static;

  width: 240px;

  min-height1:600px;

}





.sidebar:before {

  background-color: inherit;

  border-color: inherit;

  border-style: inherit;

  border-width: inherit;

  bottom: 0;

  content: "";

  display: block;

  position: absolute;

  top: 0;

  width: inherit;

  z-index: -1;

}



.sidebar + .main-content {

    margin-left: 240px;

}







.page-content {

    background-color: #ffffff;

    margin: 0;

    position: relative;

}





.page-content{

  padding: 0px 14px 20px 24px;

}







/* Set the fixed height of the footer here */

#footer {

    min-height: 60px;

    background: none repeat scroll 0 0 #272727;

    padding: 40px 0;

    color: #dedede;



    a {

      margin: 0 2px;

      font-size:13px;

      //color: $gray-light;

      text-decoration: underline;



      &:hover{
        //color:$gray-lighter;
      }

    }

    .t{
      color: #ffffff;
    }

    #footer-socials {
      margin-top: 12px;
      text-align: left;

      li a {
        color: #777777;

        font-size: 17px;

      }



    }



}





/* common */



.clear{

  clear:both;

}



.pad20{

  padding:20px;

}











/* page-header */



.page-header{

  margin-top: 12px;

  margin-bottom: 12px;



  border-bottom: 1px solid #e2e2e2;



  h1{
    margin: 0 8px 0px 0px;
    //color: $col-blue-2;
    font-size: 24px;
    font-weight: lighter;
    padding: 0;

    small {
      //color: $col-blue-4;
      font-size: 14px;
      font-weight: 400;
      margin: 0 6px;
    }

  }

}





/* breadcrumbs */



div.breadcrumbs{
  //background-color: $gray-light-light;
  border-bottom: 1px solid #e5e5e5;
  line-height: 30px;
  min-height: 35px;
  padding: 4px 0px 4px 0;
  position: relative;
  z-index: auto;
  font-size: 13px;

  ul.breadcrumb{
    margin-bottom:0px;
  }

}







