:javascript
  function get_panel_blocks(){
    //var x = get_current_tab().find('#panel-blocks').first();
    return $('#panel-blocks').first();
  }

  function init_panel_blocks(path){
    return load_panel_blocks(path);
  }

  function load_panel_blocks(path){
    var lang = get_current_tab_lang();

    //
    var r = Math.random();

    $.get("#{panel_blocks_templates_path}?path="+encodeURIComponent(path)+"&r="+r, function(data, status){
      get_panel_blocks().html(data);
    });
  }

  $(document).ready(function() {
    $( ".tab-content" ).on( "click", "#panel-blocks a.link_block_insert", function( e ) {
      e.preventDefault();

      var lang = get_current_tab_lang();
      var name = lang;
      if (name==""){
        name = "def";
      }

      //$( "#target" ).click();
      var text = "=block '"+$(this).data('path')+"'";
      editors[name].insert(text);
    }); // click

    // filter blocks
    $( ".tab-content" ).on( "keypress", "#panel-blocks-input-path", function( e ) {
      var key = e.which;
      if(key == 13){
        //$('input[name = butAssignProd]').click();
        var v = $(this).val();
        load_panel_blocks(v);
        return false;
      }
    });
  });
