%span.help
  select block and click to insert into editor

%ul.list.list-blocks
  - @items.each do |item|
    %li
      =link_to '#', class: "link_block_insert", data: {path: item.basepath} do
        =item.title
      [
      =link_to edit_template_path(item), class: "link_block_edit", data: {path: item.basepath}, target: '_blank' do
        edit
      ]
