%h1 Content source
Name: #{@name}

%p
  settings:
  %br

    .row
      .col-3
        type
      .col-9
        =@item[:type]

    .row
      .col-3
        api_url
      .col-9
        =@item[:api_url]

    .row
      .col-3
        has templates
      .col-9
        =@item[:use_templates]


Full info
%pre
  =JSON.pretty_generate @item

%h3 Maintenance

=link_to 'Clean all cache', clean_cache_content_source_path(id: @name), :class=>'btn btn-primary btn-sm'


