%h1 Content source
Name: #{@name}

%p
  settings:
  .row
    .col-3
      type
    .col-9
      =@item.type

%pre
  =JSON.pretty_generate @item.data

%h3 Maintenance

=link_to 'Clean all cache', clean_cache_content_source_path(id: @name), :class=>'btn btn-primary btn-sm'


