.page-header
  .row
    .col-md-7
      %h1
        Pages
        %small
          %i.ace-icon.fa.fa-angle-double-right
          manage pages
    .col-md-5
      =link_to 'New page', new_page_path(:parent_id=>@parent_id), :class=>'btn btn-sm btn-primary'
      =link_to 'New folder', newfolder_pages_path(:parent_id=>@parent_id, :is_folder=>1), :class=>'btn btn-sm btn-secondary'
      .btn-group(role="group")
        %button(id="btnGroupDrop1" type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          New... <span class="caret"></span>
        .dropdown-menu(aria-labelledby="btnGroupDrop1")
          =link_to 'text page', newtextpage_pages_path(:parent_id=>@parent_id), class: 'dropdown-item'



.filter
  = inline_filter_form_for(@filter)


- if @parent
  =link_to 'HOME', pages_path(:parent_id=>0)
  #{"/"}
  =link_to @parent.title, pages_path(:parent_id=>@parent.id)

%table.table.table-striped.table-bordered
  %thead.thead-inverse
    %tr
      %th= link_to_sortable_column :title, 'Title'
      %th= link_to_sortable_column :name, 'Name'
      %th URL
      %th Template
      %th Commands
  %tbody
    - @items.each do |item|
      %tr
        %td
          - if item.is_folder
            =link_to pages_path(:parent_id=>item.id) do
              <i class="fa fa-folder-o"></i>
              =item.title
          - else
            =link_to item.title, edit_page_path(item)
        %td
          =item.name
        %td
          =item.url
        %td
          - if item.is_folder
            &nbsp;
          - else
            - u_template_edit = edit_template_content_page_path(id: item.id)


            - if item.template
              =link_to u_template_edit do
                =item.template.basepath
              %br
              -#=item.template.title
              -#=item.template.basepath
            - else
              =link_to u_template_edit do
                =item.template_path
              %br
              %span.small.col-gray (remote)


        %td
          =link_to 'Edit', (item.is_folder? ? editfolder_page_path(item) : edit_page_path(item))
          =link_to 'Delete', page_path(item), :method => :delete, data: { confirm: 'Are you sure?' }

=paginate @items, theme: 'bootstrap4'