= javascript_pack_tag 'optimacms/ace'




:javascript

    $(document).ready(function() {

      // set content from input to editor
      $( "textarea.form_input_content" ).each(function( index ) {
        var textarea = $(this);
        var lang=textarea.data('lang');
        textarea.hide();
        editors[lang].getSession().setValue(textarea.val());
      });


      // set content from editor back to input
      $('#mainform form').submit(function(){
        $( "textarea.form_input_content" ).each(function( index ) {
          var textarea = $(this);
          var lang=textarea.data('lang');
          textarea.val(editors[lang].getSession().getValue());
        });


      });
    });



    function init_editor(id){

      //var editor = ace.edit("content");
      var editor = ace.edit(id);
      editor.setTheme("ace/theme/chrome");
      editor.getSession().setMode("ace/mode/haml");
      //editor.getSession().setNewLineMode("windows");
      editor.getSession().setNewLineMode("unix");
      editor.getSession().setTabSize(2);

      return editor;
    }

    // init editors
    var editors = [];

    #{
      @languages.map do |lang|
        name = lang=='' ? 'def' : lang
        "editors[\"#{name}\"] = init_editor(\"content-#{name}\");"
      end.join(' ').html_safe
    }

