%h2 System
-#=link_to 'Restart', cms.restart_app_sys_path, :class=>'btn btn-primary btn-sm'
=link_to 'Restart', maintenance_restart_path, :class=>'btn btn-primary btn-sm'


%h2 Assets
=link_to 'Precompile assets ', '/admin/optimacms/maintenance/assets_precompile', class: 'btn btn-primary btn-sm'


%h2 Sync

