%h2 Backups

#list-backups
  - @list_backups.each do |r|
    - f=Rack::Utils.escape(r[:shortpath])
    .row.backup-item
      .col-md-8{data: {f: r[:shortpath]}}
        =link_to r[:shortpath], download_backup_metadata_path(f: r[:shortpath]), target: '_blank'
        (
        #{number_to_human_size(r[:size])}
        )
      .col-md-4
        %ul.list-inline
          %li.list-inline-item=link_to 'view', view_backup_metadata_path(f: f, dirname: r[:name]), :method => :get
          %li.list-inline-item=link_to 'download', download_backup_metadata_path(f: f), :method => :get
          %li.list-inline-item
            =link_to 'delete', delete_backup_metadata_path(f: f), :method => :get, remote: true, :class=>'link_delete',  :data => {:confirm => 'Are you sure?'}


